.sessao__conteudo{
    color: #000000;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-indent: 2rem;
    margin-top: 0.2rem;
}
