@media screen and (min-width: 0){
    .menu {
        align-items: center;
        background: #cebebd;
        border-top: 2px solid #9c7a77;
        border-bottom: 2px solid #9c7a77;
        bottom:0;
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        justify-content: center;
        margin-bottom: 10px;
        padding: 15px 0;
        position:fixed;
        width: 100%;
        z-index: 1;
    }
}
@media screen and (min-width: 768px){
.menu{
    display: none;
}
}