@media screen and (min-width:0){
    .informacao__conteudo--desaparece{
        display:none;
    }
}

@media screen and (min-width:768px){
    .informacao__conteudo{
        align-items: center;
        display:flex;
        justify-content: center;
    }
    
    .informacao__conteudo--desaparece{
        display:block;
        text-align: center;
    }
    .informacao__conteudo--titulo{
        font-weight: 600;
    }
    
}